.bemutatkozas{
    padding: 25px;
    background-color: rgba(139, 139, 139, 0.25);
    color: white;
}
.col{
    padding-top: 25px;
    padding-bottom: 25px;
}
.keszlet{
    width: 75%;
    margin: auto;
    background-color: rgba(139, 139, 139, 0.25);
}
h1, p{
    color: black;
}